.block {
  width: 822px;
  margin-top: 162px;
  margin-left: 37px;
  margin-bottom: 105px;
  letter-spacing: 0.02 em;
}
.title {
  font-family: "GothamLigth";
  font-weight: 350;
  font-size: 68px;
  line-height: 70px;
  color: #eeeff1;
  margin-bottom: 24px;
}
span {
  color: #1e74ec;
}
.subtitle {
  max-width: 571px;
  font-weight: 325;
  font-size: 20px;
  line-height: 28px;
  color: #dddde2;
  margin-bottom: 60px;
}
.btn {
  width: 206px;
  height: 48px;
  background: #1e74ec;
  color: #eeeff1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  border: none;
  font-size: 16px;
  font-weight: 350;
  line-height: 19px;
}
/* statistic*/
.block__statistic {
  display: flex;
  justify-content: space-around;
  color: #eeeff1;
  margin-left: 50px;
  /* gap: 10px; */
}
.item {
  width: 330px;
  height: 180px;
  text-align: center;
  color: #eeeff1;
}
.item h2 {
  font-family: "GothamBold";
  font-weight: 700;
  font-size: 68px;
  line-height: 82px;
  text-transform: uppercase;
  color: #eeeff1;
}
.item h3 {
  font-weight: 325px;
  font-size: 26px;
  line-height: 32px;
}
